.vertical {
  padding-top: 50px;
  padding-bottom: 50px;

  & .container {
    max-width: 990px;
  }

  &__title {
    text-align: center;
    margin-bottom: 25px;
  }

  &__row {
    display: flex;
    margin-left: -22.5px;
    margin-right: -22.5px;
  }

  &__col {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 33.333%;
    padding-left: 22.5px;
    padding-right: 22.5px;
    display: flex;
  }

  &___item {
    background-color: $bg-vertical-color;
    border: 1px solid $bg-vertical-color;
    border-radius: 8px;
  }
}
