body {
  @include ma-pa-reset;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: $text-color;
  background-color: $white-color;
}

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.content {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.section-title {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  color: $text-title-color;
}
