$white-color: #ffffff;
$text-color: #333333;
$text-hi-color: #ffffff;
$text-title-color: #445161;
$text-vertical-color: #ffffff;
$text-footer-color: #445162;
$bg-hi-color: #445162;
$bg-vertical-color: #445162;
$bg-color: #ffffff;
$bg-columns-color: #f5f5f5;
$bg-btn-color: #f5f5f5;
$bg-footer-color: #f5f5f5;
$mobile-width: 320px;
$tablet-width: 744px;
$desktop-width: 1200px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
